body {
    background-image: url('Assets/pexels-photo-439227.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#calendar-body{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px;
    margin: 5% 15% 5% 15%;
    background-color: lightgray;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.4);
}
div.grid {
    background-color: lightgray;
    
}
div>h1 {
    text-align: center;
}
.current {
    border: 2px solid red;
    border-radius: 50%;
}